@model ForgetPasswordViewModel

@{
    Layout = null;
}

<h2>Şifre Yenileme Sayfası</h2>

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <form method="post">
        <label>Mail adresinizi giriniz</label>
        <input type="text" class="form-control" asp-for="Mail" />
        <br />
        <button class="btn btn-primary">Şifre yenileme linki</button>
    </form>
</div>

