@using Traversal_Web_App.Areas.Admin.Models;
@model VisitorViewModel

@{
    ViewData["Title"] = "UpdateVisitor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>APİ ile Ziyaretçi Güncelleme</h1>
<br />

<form method="post">
    <input type="hidden" asp-for="VisitorID" />
    <label>Ziyaretçi Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />

    <label>Ziyaretçi Soyadı</label>
    <input type="text" asp-for="Surname" class="form-control" />
    <br />

    <label>Ziyaretçi Mail Adresi</label>
    <input type="text" asp-for="Mail" class="form-control" />
    <br />

    <label>Ziyaretçi Şehiri</label>
    <input type="text" asp-for="City" class="form-control" />
    <br />

    <label>Ziyaretçi Ülkesi</label>
    <input type="text" asp-for="Country" class="form-control" />
    <br />

    <br />
    <button class="btn btn-outline-primary">Ziyaretçi Güncelle</button>
</form>
