
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>PDF Rapor Sayfası</h1>

<a href="/PdfReport/StaticPdfReport" class="btn btn-outline-primary">Statik Pdf Raporu</a>
<br /><br />
<a href="/PdfReport/StaticCustomerResult" class="btn btn-outline-warning">Statik Misafir Pdf Raporu</a>